<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>
    <div class="container">
        <%-include('../partials/nav.ejs')%>
        <div class="main">
            <h3>EMAIL:</h3>
            <h2> abdulazizbekabdusodiqov@gmail.com: <a href="mailto:abdulazizbekabdusodiqov@gmail.com">Send message</a></h2>
            
            <h3>PHONE:</h3>
            <h2>+998937252606: <a href="tel:+9998937252606">Call</a></h2>
            
            <h3>TELEGRAM:</h3>
            <h2>Abdulazibek Abdusodiqov: <a href="https://t.me/abdu_laz1zbek">Send message</a></h2>
            
            <h3>TELEGRAM-CHANEL:</h3>
            <h2>Abdulazibek Abdusodiqov: <a href="https://t.me/coder_abdulazizbek">Telegram channel</a></h2>

        </div>
    </div>
   
</body>

</html>