<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        
        <%-include('../partials/nav.ejs')%>
        <div class="main">
            <div class="description">
                <p>hello I'm</p>
                <h2>Abdulazizbek Abdusodiqov</h2>
                <h3>web developer</h3>
                <button class="downloadBtn">Get my Resume...</button>
            </div>
            <div class="img">
                <img width="280px" src="/img/2024111015292587.jpg" alt="my picture">
            </div>

        </div>
    </div>
    <script>
        document.querySelector('.downloadBtn').addEventListener('click', function () {
            
            const fileUrl = '/my_resume/Resume.docx'
            const fileName = 'Resume.docx';

            const link = document.createElement('a');
            link.href = fileUrl;
            link.download = fileName;
            link.click();
        });
    </script>
</body>

</html>