<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Abdulaziz Dev Contact</title>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>
    <div class="container">
        <nav class="nav">
            <h2>Abdusodiqov</h2>
            <ul type="none">
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <!-- <li><a href="#">MY PROJECT'S</a></li> -->
                <li><a href="/contact">CONTACT</a></li>
                <!-- <li>
                    <button>SIGN IN</button>
                    <button>SIGN UP</button>
                </li> -->
            </ul>
        </nav>
        <div class="main">
            <h3>EMAIL:</h3>
            <h2> abdulazizbekabdusodiqov@gmail.com: <a href="mailto:abdulazizbekabdusodiqov@gmail.com">Send message</a>
            </h2>

            <h3>PHONE:</h3>
            <h2>+998937252606: <a href="tel:+9998937252606">Call</a></h2>

            <h3>TELEGRAM:</h3>
            <h2>Abdulazibek Abdusodiqov: <a href="https://t.me/abdu_laz1zbek">Send message</a></h2>

            <h3>TELEGRAM-CHANEL:</h3>
            <h2>Abdulazibek Abdusodiqov: <a href="https://t.me/coder_abdulazizbek">Telegram channel</a></h2>

        </div>
    </div>

</body>

</html>