<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Abdulaziz Dev Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <h2>Abdusodiqov</h2>
            <ul type="none">
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <!-- <li><a href="#">MY PROJECT'S</a></li> -->
                <li><a href="/contact">CONTACT</a></li>
                <!-- <li>
                    <button>SIGN IN</button>
                    <button>SIGN UP</button>
                </li> -->
            </ul>
        </nav>
        <div class="main">
            <div class="description">
                <p>hello I'm</p>
                <h2>Abdulazizbek Abdusodiqov</h2>
                <h3>web developer</h3>
                <button class="downloadBtn">Get my Resume...</button>
            </div>
            <div class="img">
                <img width="280px" src="/img/photo_2024-11-12_20-36-35.jpg" alt="my picture">
            </div>

        </div>
    </div>
    <script>
        document.querySelector('.downloadBtn').addEventListener('click', function () {

            const fileUrl = '/my_resume/Resume.docx'
            const fileName = 'Resume.docx';

            const link = document.createElement('a');
            link.href = fileUrl;
            link.download = fileName;
            link.click();
        });
    </script>
</body>

</html>