*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #222;    
    /* background-image: url('/img/background.jpg');
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
.main div{
    width: calc(100% / 2.6);
}
.about{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 10px #fff;
    backdrop-filter: blur(10px);
    text-align: center;
}
.about h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.about span{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 1px #fff;
}
.about h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about p{
    font-size: 23px;
    margin-bottom: 10px;
}

.skills{
    margin-right: -200px;
}
.skills h3{
    text-shadow: 0px 0px 5px black;
}
.skill-container {
    background-color: #ffffff00;
    border-radius: 8px;
    margin: 8px 0;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #fff;
    font-weight: bold;
    transition: 0.5s;
}
.skill-container:hover{
    width: calc(100% /2);
    transition: 0.5s;
}

.skill-bar {
    height: 20px;
    background-color: #fff;
    text-align: right;
    padding-right: 5px;
    color: grey;
    line-height: 20px;
    border-radius: 8px 0 0 8px;
}
@media (max-width: 500px){
    .main{
        flex-direction: column;
    }
    .about{
        width: 80% !important;
    }
    .about h2{
        font-size: 16px;
        margin: 0px ;
    }
    .about h2 span{
        font-size: 20px;
        display: block;
        margin: 0px ;
    }
    .about h3{
        font-size: 16px;
        margin: 0px ;
    }
    .about p{
        font-size: 16px;
        margin: 0px;
    }
    .skills{
        width: 60% !important;
        margin: 10px;
    }
    .skill-container{
        width: 90% !important;
        margin-bottom: 5px;
    }
    .skill-container:hover{
        width: 100% !important;
    }

}