*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url('../img/contact.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: auto 0 ;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #fff;
    padding: 10px;
    transition: 1s;
}
.main:hover{
    width: 55%;
    transition: 1s;
}
.main h3{
    margin-top: 10px;
    width: 90%;
    text-align: left;
    color: #fff;
    font-size: 25px;
}
.main h2{
    color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main h2 a{
    color: #fff;
    text-decoration: none;
    border: none;
    width: 30%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: rgb(46, 147, 241);
    box-shadow: 0px 0px 5px #fff;
}
.main h2 a:hover{
    background-color: rgb(44, 109, 214);
}
@media(max-width: 500px){
    .main{
        width: 80%;
    }
    .main h2{
        flex-direction: column;
        font-size: 16px;
        align-items: center;
        gap: 5px;
    }
    .main h3{
        font-size: 16px;
    }
    h2 a{
        width: 60% !important;
    }
}