header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 10;
    backdrop-filter: blur(20px);
    border-end-end-radius: 20px;
    width: 100vw;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    border-end-start-radius: 20px;
    padding: 20px 0px;
}
.nav h1{
    font-size: 35px;
    color: #fff;
}
.nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px 2px #111;
    font-weight: bold;
    
}
.nav ul li a:hover{
    color: yellow;
    /* text-shadow: 0px 0px 3px yellow; */
    text-shadow: 1px 1px 2px #111;
}
.nav ul li a:active{
    color: #ffffff;
    text-shadow: 0px 0px 3px rgb(56, 159, 56);
}

.nav ul li button{
    background: none;
    color: #fff;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 8px;
}
.nav ul li button:hover{
    background-color: rgba(151, 151, 151, 0.373);
}

@media (max-width:500px){
    .nav{
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-bottom: 30px;
        padding: 20px;
        gap: 10px;   
    }
    body {
        background-image: url("/img/bgimg.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .nav ul li a{
        font-size: 20px;
    }
}
@media (max-width:400px){
    .nav{
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-bottom: 30px;
        padding: 20px;
        gap: 10px;   
    }
    body {
        background-image: url("/img/bgimg.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .nav ul li a{
        font-size: 20px;
    }
}
@media (max-width:300px){
    .nav{
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-bottom: 30px;
        padding: 20px;
        gap: 10px;   
    }
    body {
        background-image: url("/img/bgimg.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .nav ul li a{
        font-size: 20px;
    }
}
