main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    width: 1100px;
    align-items: center;
    justify-content: space-between;
    height: 680px;
}
.container .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #ffffff5d;
    box-shadow: 0px 0px 5px;
    color: #ffffff;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

.description p{
    font-size: 25px;
}
.description h2{
    font-size: 30px;
}
.description h3{
    font-size: 20px;
}
.downloadBtn{
    width: auto;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgb(81, 169, 219);
    color: #ffffff;
    font-weight: bold;
    border: none;
    transition: all 0.4s;
}

.downloadBtn:hover{
    transition: all 0.4s;
    padding: 9px;
    box-shadow: 0px 0px 10px #ffffff;
}

.img img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ffffff;
}

@media (max-width: 500px){
    .container{
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .container .description{
        box-shadow: 0px;
        border: none;
    }
    .description h2{
        font-size: 25px;
    }
}
@media (max-width: 400px){
    .container{
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .container .description{
        box-shadow: 0px;
        border: none;
    }
    .description h2{
        font-size: 25px;
    }
}