*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url('/img/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    font-size: 25px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 50px;
    backdrop-filter: blur(15px);
    border: 1px solid grey;
    border-radius: 8px;
}
.description h2{
    font-size: 30px;
    color: #ffffffcb;
}
.description button{
    height: 40px;
    background-color: rgb(104, 104, 104);
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    width: 70%;
    margin-top: 20px;
}
.description button:hover{
    background-color: grey;
}
.description button:active{
    background-color: rgb(83, 81, 81);
}
.img img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #fff;
}

@media (max-width: 500px){
    .main{
        flex-direction: column-reverse;
    }
    .description{
        width: 60%;
        margin-top: -15px;
    }
    .description h2{
        text-align: center;
    }
    .description button{
        height: 50px;
    }
    .img img{
        width: 200px;
        margin-top: -10px;
    }
}