<nav class="nav">
    <h2>Abdusodiqov</h2>
    <ul type="none">
        <li><a href="/abdulazizdev/home">HOME</a></li>
        <li><a href="/abdulazizdev/about">ABOUT</a></li>
        <!-- <li><a href="#">MY PROJECT'S</a></li> -->
        <li><a href="/abdulazizdev/contact">CONTACT</a></li>
        <!-- <li>
            <button>SIGN IN</button>
            <button>SIGN UP</button>
        </li> -->
    </ul>
</nav>